
body {height:100vh; width:100vw;}  /*vh viewport height, vw viewport width*/
table {width:100%; height:100%; border-collapse:collapse;}  /*make the table full screen*/
td {width:50%; height:100%; border:1px solid black;} 
.first-cell {background-color:Violet;}
.second-cell {background-color:Tomato;}
